<%- include("Template/Cabecera", {tituloweb: 'Pagina de AnimaNaturalis'})%>

  

<center>

    <H1 class="text-primary">TÍtulo de mi sitio web AnimaNaturalis </H1>
</center>
<center>

    <div class="bg-success p-2 text-white">NO AL MALTRATO ANIMAL</div>

</center>
<center>
    <h2> <%= tituloAnimaNaturalis %></h2>
</center>
   
<h1 style=" font-size:25px; font-family:Arial">AnimaNaturalis</h1>
<a href="https://www.animanaturalis.org/mx">Presiona para ir a AnimaNaturalis</a>
<center><table width="950"><tr><td>
    <center>
    <img src="img/logo.png" alt="logo de nuestra pagina web">
</center>
    
    <p>
     AnimaNaturalis existe porque miles de millones de animales sufren en manos humanas. Porque esos animales necesitan soluciones. Porque merecen que alguien alce la voz por ellos. Porque los animales necesitan cambios. Porque en AnimaNaturalis queremos construir un mundo más justo para todos.
    </p>
    <h2 style=" font-size:25px; font-family:Arial">YO SOY ANIMANATURALIS</h2>
    <p>
    AnimaNaturalis es una organización no gubernamental y sin fines de lucro, que trabaja para la defensa de los animales en España y Latinoamérica. AnimaNaturalis se centra en evitar el sufrimiento de los animales en las principales áreas donde son utilizados:
    </p>
    <hr/>
    
    <center><u1>
    <b><li>Animales en la industria de la alimentación.</li></b><center>
    <img src="img/IMAG5.jpg">
    <b><li>Animales en laboratorios </li></b>
    <img src="img/IMAG7.jpg">
    <b><li>Animales como vestimenta.</li></b>
    <img src="img/P28-52129.jpg">
    <b><li>Animales en espectaculos </li></b>
    <img src="img/descarga (1).jpg">
    </center></u1>
    <p>
    AnimaNaturalis no pertenece a ningún partido político ni grupo religioso y sólo colabora externamente con aquellos que demuestren apoyar uno o varios de los valores que promueve nuestra organización.
    
    </p>
    <h3 style=" font-size:25px; font-family:Arial">Fundadores</h3>
    <p>
    AnimaNaturalis fue fundado en 2003 por Leonora Esquivel Frías y Francisco Vásquez Neira.
    </p>
    <p>
    Para ambos, la información aporta al desarrollo de la sensibilidad y la misión de AnimaNaturalis es contribuir al sueño de una sociedad menos cruel con los animales y demás seres sintientes.
    </p>
    <center><table border="1"width="80%" bgcolor="#F5A9BC">
    
    <caption>Tabla AnimalNatutalis</caption>
    
    
    <tr>
    
    <th>MISION </td>
    <th>VISION</td>
    <th>PRINCIPIOS</td>
    <th>ESTRATEGIAS</td>
    </tr>
    <tr>
    <td>Establecer, difundir y proteger los derechos de todos los animales en España y Latinoamérica. Estos derechos son el derecho a la vida, a la libertad, a no ser torturados y a dejar de ser considerados propiedad.</td>
    <td>En AnimaNaturalis queremos ser una voz de justicia y cambio para los animales, proponiendo alternativas al uso que de ellos se hace en granjas, laboratorios, industrias del entretenimiento y de la moda.</td>
    <td>Derechos para los animales,Incidencia,Diálogo,No-violencia,Coherencia,Contra la discriminación: AnimaNaturalis es un lugar seguro donde no se discrimina por género, raza, credo, identidad sexual, ideología y, por supuesto, especie.</td>
    <td>Conocer,Comunicar,Proponer y Cambiar</td>
    </center>
    </tr>
    </table>
  
    </td></table></center>

    <%- include("Template/footer")%>