<%- include("Template/Cabecera", {tituloweb: 'Pagina de Causas'})%>

<center>

    <H1 class="text-primary">TÍtulo de mi sitio web Causas </H1>
</center>
<center>

    <div class="bg-success p-2 text-white">CAUSAS DEL MALTRATO ANIMAL</div>

</center>
<center>
    <h2> <%= tituloCausas %></h2>
</center>

<p class="fw-bolder">
    El tema del maltrato animal es delicado. Pues se descubrió que muchas de las actividades que hacemos cotidianamente como parte del cariño hacia nuestros animales o mascotas de casa, son parte de un tipo de maltrato.
</p>

<p class="fw-bolder">

    Cerca de un millón de animales son maltratados cada año por sus cuidadores. (Departamento de Justicia, EE.UU).
</p>

<center>
    <img src="img/derechos.jpg"alt="logo de nuestra pagina web">
</center>


   
<H3 class="text-primary"> Falta de educación.</H3>
    <p class="fw-bolder"> 

        Una poca o nula educación sobre respeto y conciencia animal desde pequeños, puede llevar a realizar actos con dolo como parte del morbo o del sentimiento de superioridad ante una criatura indefensa que por sus características o condiciones, no puede defenderse.
        
        Ser indiferentes ante acciones de maltrato producidas por otra gente o justificar tales actos, también tiene lugar en esta categoría.
        
        <H4 class="text-primary">   Cultura.</H4>
      

          <p class="fw-bolder"> 
        Algunas tradiciones humanas vienen acompañadas de sangre o sufrimiento animal, como El toro júbilo, El giro del perro o Patos al agua, por poner algunos ejemplos. Muchos consideran que las corridas de toros, que forman parte de la cultura de España desde el siglo XVIII, son crueles e innecesarias.
          </p>

          <H5 class="text-primary">    Negocio.</H5>
       
        
          <p class="fw-bolder"> 
        Dar prioridad a las ganancias sobre el bienestar de los animales es otra causa de maltrato. La venta de pieles o huesos, la crianza de perros, las peleas clandestinas, entre muchas otras actividades, son llevadas a cabo en todas partes del mundo.
          </p>

          <H5 class="text-primary">  Perversidad.</H5>
          <p class="fw-bolder"> 
        
        Últimamente han circulado vídeos en las redes donde individuos cometen actos denigrantes hacia diferentes tipos de animales. Tales hechos no tienen ningún fin más que la perversidad y el morbo tanto del productor como del espectador. Otros, para evitar ser juzgados por la sociedad, buscan la satisfacción en el sufrimiento de los animales en lugares aislados o remotos.
          </p>

          <H5 class="text-primary"> Castigo y corrección.</H5>
          <p class="fw-bolder"> 
   
        
        Como parte de un entrenamiento a las mascotas o corrección al comportamiento general de los animales, se puede incurrir a golpes o castigos innecesarios que pueden perjudicarlos. 

    </p>

    
    

<%- include("Template/footer")%>