<%- include("Template/Cabecera", {tituloweb: 'Pagina de curso'})%>

<center>

    <H1 class="text-primary">TÍtulo de mi sitio web curso </H1>
</center>

<h2> <%= titulocurso %></h2>
<div class="bg-success p-2 text-white">GRACIAS POR INGRESAR A NUESTRO CURSO</div>


<p class="fw-bolder">

    La actualización de las Políticas Públicas de Protección Animal y el conocimiento de la Legislación de Protección Animal, son dos puntos esenciales para crear un marco estatal que proteja a los animales.
    </p>
    
    <p class="fw-bolder" >
    Por otro lado es fundamental que los actores implicados en esta materia sepan cómo actuar de forma rápida y eficaz, siempre dentro del marco legislativo actual, que permite la protección animal en gran medida.
    </p>
    
    <P class="fw-bolder" >
    Por todo esto, ponemos a tu disposición formación de protección y bienestar animal elaborada por los mejores profesionales de cada materia.
    
    Todo nuestro profesorado está formado por especialistas de renombre en sus correspondientes sectores.
    </P>
    <center><img src="cuidado.jpg" ></center>
    
    <center><h1 style=" font-size:25px;">TEMAS DEL CURSO</h1></center>
    
    <center><u1>
    
    <li>Iniciación a la Psicología canina y al adiestramiento en positivo</li>
    <li>Gestión de Incubadora de Peces.</li>
    <li>Cría de Conejos </li>
    <li>Cuidados Veterinarios del Cachorro Perro y Gato</li>
    </u1></center>
    


<%- include("Template/footer")%>