<%- include("Template/Cabecera", {tituloweb: 'Pagina Quienessomos' })%>
<center>

    <H1 class="text-primary">TÍtulo de mi sitio web Quienes somos </H1>
</center>
<center>
    <h2> <%= tituloQuienessomos%> </h2>
</center>

    <tr>
        <td>
            <center><a href="Quienes somos.html">
                    <img src="img/logo2.jpg"></a>
        </td>
    </center>
        <center>
            <li>PROGRAMANDO EL BACKEND DE UN SITIO WEB </li>
            <li>Verónica Félix Quiroz</li>
            <li>Facultad de Contaduría y Administración, UAEMEX.</li>
            <li>Programación declarativa.</li>
            <li>Profesor: Jorge Ignacio Pérez Morales.</li>
            <li>Fecha: 4 de mayo del 2022</li>

        </center>

    </tr>


    <%- include("Template/footer")%>