<%- include("Template/Cabecera", {tituloweb: 'Pagina Violencia'})%>
<center>

    <H1 class="text-primary">Título de mi sitio web Violencia</H1>
</center>


<center>

    <h2> <%=tituloviolencia %></h2>
</center>

<CEnter>

    <div class="bg-success p-2 text-white">ANTESALA DE LA VIOLENCIA SOCIAL</div>
</CEnter>
<center><table width="950"><tr><td>
    <center>
    <img src="img/descarga (7).jpg" alt="logo de nuestra pagina web">
</center>
    <p>
        El maltrato animal es, a la vez, un factor que predispone a la violencia social y, al mismo tiempo, una consecuencia de la misma. 
        Forma parte de la cascada de la violencia que nos va alcanzando a todos como individuos y como sociedad.
        <p>
        Una persona que abusa de un animal no siente empatía hacia otros seres vivos y tiene mayor riesgo de generar violencia hacia otras personas. La Asociación Siquiátrica Americana lo considera como uno de los diagnósticos para determinar desórdenes de conducta. Si un niño nos habla sobre el maltrato a su animal de compañía, podría estar hablándonos también de su propio sufrimiento.
        </p>
        <center>
            <img src="img/descarga (5).jpg"alt="logo de la pagina web >
        </center>

        <hr/>
        <p>
        La Asociación Siquiátrica Americana lo considera como uno de los diagnósticos para determinar desórdenes de conducta. Si un niño nos habla sobre el maltrato a su animal de compañía, podría estar hablándonos también de su propio sufrimiento.
        </p>
        <h2><font color="#688A08"> RELACIÓN ENTRE MALTRATO A ANIMALES, ABUSO A NIÑOS Y VIOLENCIA EN HUMANOS</font> </h2> 
        <p>
        "No todo individuo que haya maltratado a animales acabará siendo un asesino en serie, pero casi todos los asesinos en serie cometieron actos de crueldad con animales"
        </p>
        <cite>
        Dr. Randall Lockwood, psicólogo, vicepresidente Humane Society of the USA
        </cite>
        <p class="fw-bolder">
        "La crueldad hacia los animales no es una válvula de escape inofensiva en un individuo sano...es una señal de alarma"
        </p>
        <cite>
        Supervisor y Agente Especial del FBI Allen Brantley.
        </cite>
        <center><table border="0"width="60%">
        
        <tr>
    
        <td><img src="img/descarga (6).jpg"></td>
        <th>En la cultura occidental actual encontramos alusiones a la violencia en casi todos los ámbitos donde nos movemos. Es conocido el hecho de que ser testigo de un acto violento puede desencadenar agresión y desórdenes de ansiedad como estrés agudo y post-traumático, problemas de relación, y una disrupción en el desarrollo de la empatí­a </td>
        
        </tr>
        </center>
        </tr>
        </table>
       
        </td></table></center>


    <%- include("Template/footer")%>

